* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(45deg, rgba(30, 30, 0, 0.8), rgba(180, 90, 0, 0.7)), url(https://i.imgur.com/Xjfug40.jpg[/img]);
    background-size: 125%;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: rgb(225, 255, 255);
    margin: auto;
    margin-top: 3rem;
    max-width: 600px;
    height: 100vh;
}
#title {
    text-align: center;
    font-size: px;
}
#description {
    text-align: center;
    font-style: italic;
    font-weight: 200;
    font-size: 18px;
}
.container {
    display: block;
    margin: auto;
}
form {
    width: 100%;
    max-width: 700px;
    min-width:250px;
    margin: 0 auto;
    padding: 2.7rem;
    background: rgba(50, 10, 0, 0.81);
    border-radius: 2rem;
}
div {
    display: block;
}
label {
    display: block;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
.form-group{
    display: block;
}
#name, #email, #number, #dropdown {
    display: block;
    margin-top: 1em;
    margin-bottom: 1.5em;
    width: 100%;
    height: 2.375rem;
    background-color: rgba(160, 119, 69);
    border: none;
    padding: 0.5rem;
    font-size: 16px;
    font-family: courier;
    font-style: italic;
    color: rgb(220, 220, 220);
    border-radius: 0.5rem;
}
::placeholder {
    color: rgb(220, 220, 220);
}
.age {
    margin-bottom: 0.7em;
}
.clue {
    font-size: 0.9rem;
    padding: 0.2rem;
    }
.role {
    font-size: 18px;
    margin-top: 3em;
    margin-bottom: 0.5em;
}
.input-radio {
    display: inline-block;
    height: 1em;
    margin-right: 1.5em;
    margin-left: 0em;
}
.input-checkbox {
    display: inline-block;
    margin-left: 0em;
    margin-right: 1.5em;
    margin-top: 0.5em;
    min-height: 0.05em;
}
.textarea {
    width: 100%;
    min-height: 120px;
    padding: 0.625rem;
    resize: vertical;
    font-family: courier;
    font-size: 16px;
    font-style: italic;
    border: none;
}
textarea::placeholder {
    color: rgba(50, 0, 180, 70%);
}
.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: linear-gradient(0deg, #c75bf1, #800480 30%);
    color: rgb(255, 91, 247);
    font-size: 24px;
    font-family: Times-New-Roman;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 5px 14px 0;
}
button {
    border: none;
}